[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DiversityOccupancy"]
	path = DiversityOccupancy
	url = https://github.com/cran/DiversityOccupancy
[submodule "NetworkExtinction"]
	path = NetworkExtinction
	url = https://github.com/derek-corcoran-barrios/networkextinction
